@import url(http://fonts.googleapis.com/css?family=Poppins);

:root {
    --primary-clr: #393646;
    --accent: #F4EEE0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header, footer {
    background-color: var(--primary-clr);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

nav>ul {
    margin: 0;
    display: flex;
    gap: 5rem;
}

.nav-link {
    padding: 10px;
    list-style: none;
    position: relative;
}

.nav-link__active {
    background-color: #6D5D6E;
}

.nav-link a {
    color: white;
    text-decoration: none;
}

.nav-link a::after {
    display: block;
    content: "";
    height: 2px;
    background-color: var(--accent);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left;
}

.nav-link a:hover::after {
    transform: scaleX(1);
}

main {
    flex: 2;
    padding: 10px 40px;
}

footer {
    text-align: center;
}

footer a {
    color: var(--accent);
}